<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>Demo</filter-name>
        <filter-class>Demo</filter-class>
    </filter>
    <filter>
        <filter-name>adminloginfilter</filter-name>
        <filter-class>adminloginfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminloginfilter</filter-name>
        <url-pattern>/adminlogin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Demo</filter-name>
        <url-pattern>/addBooks</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>addlibrarain</servlet-name>
        <servlet-class>addlibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>librarianLogin</servlet-name>
        <servlet-class>librarianLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLibrarian</servlet-name>
        <servlet-class>viewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBooks</servlet-name>
        <servlet-class>addBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issueBook</servlet-name>
        <servlet-class>issueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnbook</servlet-name>
        <servlet-class>returnbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBooks</servlet-name>
        <servlet-class>viewBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewissuedBooks</servlet-name>
        <servlet-class>viewissuedBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addlibrarain</servlet-name>
        <url-pattern>/addlibrarain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>librarianLogin</servlet-name>
        <url-pattern>/librarianLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLibrarian</servlet-name>
        <url-pattern>/viewLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBooks</servlet-name>
        <url-pattern>/addBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issueBook</servlet-name>
        <url-pattern>/issueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnbook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBooks</servlet-name>
        <url-pattern>/viewBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewissuedBooks</servlet-name>
        <url-pattern>/viewissuedBooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
